<ng-template #content let-modal>
    <app-event-reminder [reminder]="currentReminder" (closeEvent)="modal.close($event)"></app-event-reminder>  
</ng-template>

<div class="container">
    <div class="row">        
        <div class="col-1">
        </div>
        <div class="col-10 d-flex justify-content-start">
                <button (click)="cambiaFecha(-1)" class="colday_head"> < </button>
                <button  (click)="cambiaFecha(1)" class="colday_head"> > </button>
                <span class="colday_head">{{monthNames[currentDate.getMonth()]}}/{{currentDate.getFullYear()}}</span>                
                
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">        
        <div class="col-1">
        </div>
        <div class="col-10 d-flex justify-content-start">    
            <div *ngFor="let dow of weekDayNames">
                <div class="colday_head"> 
                    {{dow}}
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">
        <div class="col-1">                
        </div>
        <div class="col-10">
            <div class="d-flex justify-content-start" *ngFor="let row of weeks">
                <div *ngFor="let x of row">
                    <app-day-calendar [reminders]="remindersOfDate(x.day)" [dayCalendar]="x" 
                                      (onSelectedDate)="addReminder($event, content)" 
                                      (onSelectedReminder)="editReminder($event, content)">
                    </app-day-calendar>
                </div>
            </div>
        </div>          
        <div class="col-1">
        </div>
    </div>
</div>
