    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" 
        (click)="dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  [formGroup]="form">
        <div class="form-group">
            <p>
                <label class= "lab" >city:
                    <!-- <span *ngIf="!city.valid && city.touched" class="label label-danger">Fill city</span> -->
                </label>
                <input type="hidden" formControlName="id">
                <input class="form-control" type="text" name="city" formControlName="city" required>
            </p>
            <span></span>
        <p>
            <label class= "lab">Day:
                <!-- <span *ngIf="!day.valid && day.touched" class="label label-danger">Fill day</span> -->
            </label>
            <div class="input-group">
                <!-- <input id="dateOfBirth" class="form-control"  name="dp" ngbDatepicker #dp="ngbDatepicker"> -->
                <div class="input-group-append">
                    <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="date" formControlName="date" required >
                    <button class="btn btn-outline-secondary calendar" (click)="pickaDay()" type="button"></button>
                </div>
            </div>
        <p>
            <app-pick-day-calendar *ngIf="selectingDate" [currentDate]="reminder.date" (onSelectedDate)="selectedDate($event)"></app-pick-day-calendar>

            <label class= "lab">Time:
                <!-- <span *ngIf="!time.valid && time.touched" class="label label-danger">Fill Time</span> -->
            </label>
            <input class="form-control" type="time" name="time" formControlName="time" required>
        </p>
            <label class= "lab">Subject:
                <!-- <span *ngIf="!subject.valid && subject.touched" class="label label-danger">Fill Subject</span> -->
            </label>
            <textarea type="text" maxlength="30" name="subject" formControlName="subject" class="form-control" required></textarea>
            <p>
                <label class= "lab">Color:</label>
                <input class="form-control" type="color" name="color" formControlName="color" required >
            <p>
            
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
    </div>
  <hr>
