.container {
    width: 70%;   
}

.formcontainer{
    width:30%;
}
.lab{
    width:60px;
}

.inputsx {
    width:300px;
}
.colday_head{
    font-family: Arial;
    width: 120px;
    height: 25px;
    background-color: rgb(93, 132, 224);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: white;
    text-align: center;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    vertical-align: middle;    
}
.colday{
    font-family: Arial;
    width: 120px;
    height: 80px;
    background-color: white;
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    vertical-align: middle;
}
.colday-selectable{
    font-family: Arial;
    width: 50px;
    height: 20px;
    background-color: white;
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    vertical-align: middle;
}
.colday-current{
    font-family: Arial;
    width: 120px;
    height: 80px;
    background-color: gainsboro;
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: black;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    vertical-align: middle;
}
.colday-selectable-current{
    font-family: Arial;
    width: 50px;
    height: 20px;
    background-color: rgb(44, 197, 108);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    vertical-align: middle;
}
.colday-weekend{
    font-family: Arial;
    width: 120px;
    height: 80px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}
.colday-weekend-selectable{
    font-family: Arial;
    width: 50px;
    height: 20px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}
.colday-weekend-current{
    font-family: Arial;
    width: 120px;
    height: 80px;
    background-color: gainsboro;
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}
.colday-weekend-selectable-current{
    font-family: Arial;
    width: 50px;
    height: 20px;
    background-color: rgb(44, 197, 108);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}


.colday_head-selectable{
    width: 50px;
    height: 20px;
    background-color: rgb(93, 132, 224);
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 5px;
}

.coldayf{
    font-family: Arial;
    width: 120px;
    height: 80px;
    background-color: rgb(246, 246, 246);
    border-color: rgb(134, 134, 146);
    border-style: solid;
    border-width: .05rem;
    color: darkblue;
    padding-left: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.weekend-number{
    color: navy;
    font-size: small;
}
.weekday-number{
    color: navy;
    font-size: larger;
    font-weight: bold;
}
.event-calendar {
    font-size: xx-small;
    max-width: 89px;    
}
.event-calendar:hover{
    font-size: x-large;
}
.btn-event-calender{
    font-size: xx-small;
}
.btn-event-calender-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}